<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imagination.tong.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EquationActivity"/>

        <activity android:name=".LineEActivity"/>

        <activity android:name=".MatrixActivity"/>
        <activity android:name=".PlaneEActivity"/>
        <activity android:name=".MatrixAdd"/>
        <activity android:name=".MatrixMultipy"/>
        <activity android:name=".MatrixDeterminant"/>

    </application>

</manifest>